body {
    width: 600px;
    margin: 40px auto;
}

#body {
    margin: 20px 0 0;
}

.flash {
    margin: 20px 0 0;
}
.flash-success {
    color: green;
}
.flash-error {
    color: red;
}
.flash-warning {
    color: orange;
}
